@import "normalize.css"

@import "./bootstrapCss/bootstrap.min.css"
@import "./bootstrapCss/hero-slider-style.css"
@import "./bootstrapCss/magnific-popup.css"
@import "./bootstrapCss/templatemo-style.css"